<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 本機 NuGet 儲存庫 -->
    <add key="LocalNuget" value="D:\nuget" />
    
    <!-- 官方的 nuget.org 儲存庫 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  
  <!-- 設定套件來源的優先順序 -->
  <packageSourceMapping>
    <!-- 指定先查詢 LocalNuget -->
    <packageSource key="LocalNuget">
      <package pattern="*" />
    </packageSource>
    
    <!-- 若 LocalNuget 沒找到，再查詢 nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
